$text-color: #4f6173;
$btn-color: #969ead;
$input-color: #abb3c2;
$blue: #3498db;
$green: #2ecc71;
$white: #fff;
$mint: #1abc9c;

.manual {
  overflow: hidden;
  padding: 0 20px;
  border-left: 7px solid $mint;

  .table {
    width: 100%;

    td {
      color: $text-color;
      font-size: 13px;
      padding: 10px 0;
      text-align: center;

      &:first-child {
        text-align: left;
      }

      .link {
        &--search{
          display: inline-block;
          background: url("../../../../../assets/images/delete.png") no-repeat;
          width: 13px;
          height: 100%;
          background-position: center;
          vertical-align: middle;
        }
      }
    }
  }

  .title {
    color: $text-color;
    margin: 0 0 5px;
    font-size: 25px;
    text-align: left;
    background: url("../../../../../assets/images/setting.png") no-repeat;
    background-position: left center;
    padding-left: 25px;
  }

  .manual-specific {
    .manual-item {
      width: 90px;
      border-radius: 6px;
      overflow: hidden;
      position: relative;
      height: 30px;
      color: #fff;
      margin: 0 auto;

      .value {
        background: $input-color;
        border: none;
        width: 28px;
        position: absolute;
        left: 30px;
        bottom: 0;
        top: 0;
        text-align: center;

        &:focus {
          outline: none;
        }
      }

      .button {
        width: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        background: $btn-color;
        border: 0;
        font-size: 22px;
        font-weight: 700;
        line-height: 28px;

        &--increase {
          left:0;
        }

        &--decrease {
          right: 0;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .view {
      width: 20px;
      height: 20px;
      display: inline-block;
      border-radius: 20px;
      margin: 0 10px;
      vertical-align: middle;
    }

    .type {
      vertical-align: -2px;
    }

    &--blue {
      .view {
        background: $blue;
      }
    }
    &--green {
      .view {
        background: $green;
      }
    }
    &--white {
      .view {
        background: $white;
      }
    }
  }
}
