@import "app/variables";

:local(.manual) {
  padding: 0 20px;
  border-left: 7px solid $mint;

  .table {
    width: 100%;

    td {
      color: $text-color;
      font-size: 13px;
      padding: 10px 0;
      text-align: center;

      &:first-child {
        text-align: left;
        padding-left: 20px;
      }

      .link {
        &--close {
          display: inline-block;
          background: url("../../../../../assets/images/delete.png") no-repeat;
          width: 13px;
          height: 13px;
          background-position: center;
          vertical-align: middle;
        }

      }
    }
  }

  .title {
    color: $text-color;
    margin: 0;
    font-size: 21px;
    text-align: left;
    position: relative;
    background-position: left center;
    padding-left: 25px;

    .actions {
      position: absolute;
      left: 0;
      cursor: pointer;
    }

    .icon-setting {
      background: url("../../../../../assets/images/setting.png") no-repeat;
      width: 15px;
      height: 15px;
      display: block;
    }
  }

  .manual-specific {
    .view {
      width: 20px;
      height: 20px;
      display: inline-block;
      border-radius: 20px;
      margin: 0 10px;
      vertical-align: middle;
    }

    .type {
      vertical-align: -2px;
    }

    &--blue {
      .view {
        background: $blue;
      }
    }
    &--green {
      .view {
        background: $green;
      }
    }
    &--white {
      .view {
        background: $white;
      }
    }
  }

  .link--close {
    cursor: pointer;
  }
}
