@import "app/variables";

.increment-decrement {
  width: 90px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  height: 30px;
  color: #fff;
  margin: 0 auto;

  .value {
    background: $input-color;
    color: white;
    border: none;
    width: 30px;
    position: absolute;
    left: 30px;
    bottom: 0;
    top: 0;
    text-align: center;

    &:focus {
      outline: none;
    }
  }

  .button {
    width: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: $btn-color;
    border: 0;
    font-size: 22px;
    line-height: 21px;
    color: white;
    cursor: pointer;

    &--increase {
      left:0;
    }

    &--decrease {
      right: 0;
    }

    &:focus {
      outline: none;
    }
  }
}
