@import "app/variables";

:local(.percentage) {
  padding: 20px;

  .table {
    width: 100%;

    td {
      color: $text-color;
      font-size: 13px;
      padding: 10px 0;
      text-align: center;

      &:first-child {
        text-align: left;
        padding-left: 20px;
      }

      & .type {
        display: inline-block;
        margin-left: 10px;
        vertical-align: -1px;
      }

      .link {
        &--search {
          display: inline-block;
          background: url("../../../../../assets/images/search.png") no-repeat;
          width: 13px;
          height: 13px;
          background-position: center;
          vertical-align: middle;
        }
      }
    }
    .link {
      &--close {
        display: inline-block;
        background: url("../../../../../assets/images/delete.png") no-repeat;
        width: 13px;
        height: 13px;
        background-position: center;
        vertical-align: middle;
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }

  .title {
    color: $text-color;
    margin: 0 0 5px;
    font-size: 21px;
    text-align: left;
    padding-left: 25px;
    white-space: nowrap;
    min-width: 190px;
    position: relative;

    .icon-setting {
      background: url("../../../../../assets/images/setting.png") no-repeat;
      width: 15px;
      height: 15px;
      display: block;
    }
    .actions {
      position: absolute;
      left: 0;
      cursor: pointer;
    }
  }
}
