html,
body,
#app,
.content,
.wrap {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body, input {
  font-family: 'PT Sans', sans-serif;
  background: #eeeeee;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.right-content {
  background: #ccd3db;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  width: 290px;
}

.panel {
  padding: 0;
  margin: 0 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);

  .panel-heading {
    padding: 10px 15px;
    color: #767676;
    background-color: #f6f6f6;
    border-color: #e9e9e9;
    border-bottom: 1px solid rgba(204, 204, 204, 0.36);

    th {
      padding: 10px 15px;
      width: 10%;
      &.name {
        width: 40%;
      }
    }
  }

  .panel-sub-heading td {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
  }

  .panel-content {
    padding: 15px;
    overflow: hidden;
  }
}

table {
  border-collapse:collapse;

  tr {
    td {
      border-top: 1px solid #ddd;
      position: relative;

      &:first-child {
        padding-left: 20px;
      }
    }
  }
}

.tooltip {
  border: 2px solid #1abc9c;
  color: #1abc9c;
  width: 15px;
  height: 15px;
  border-radius: 12px;
  line-height: 17px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.section-with-tooltip {
  position: relative;
  display: inline-block;

  .tooltip {
    position: absolute;
    right: -25px;
    top: -2px;
    margin: 0;
  }
}

.sum {
  vertical-align: -1px;
}
