$width-left-bar: 70px;

$background-color: #eee;
$background-left-bar: #394e63;

$text-color: #4f6173;
$btn-color: #969ead;
$input-color: #abb3c2;

$white: #fff;
$mint: #1abc9c;
$blue: #3498db;
$green: #2ecc71;
$orange: #ff9800;
$red: #f44336;
$yellow: #f1c40f;
$grey: #e1e6ec;

