@import "app/variables";

.color-picker {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;

  li {
    width: 20px;
    height: 20px;
    transform: scale(1);
    transition: transform 100ms ease;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px;

    &.blue{
      background: $blue;
      border: 1px solid $blue;
    }

    &.green{
      background: $green;
      border: 1px solid $green;
    }

    &.orange{
      background: $orange;
      border: 1px solid $orange;
    }
    &.red{
      background: $red;
      border: 1px solid $red;
    }

    &:hover {
      transform: scale(1.2);
    }

    &.active {
      background: transparent!important;
      border-width: 3px;
      border-style: solid;
      width: 15px;
      height: 15px;
    }
  }
}
