@import "app/variables";

$blue: #3498db;

$width-left-bar: 70px;

.left-bar {
  width: $width-left-bar;
  background: $background-left-bar;
  position: absolute;
  bottom: 0;
  top: 0;

  .logo {
    display: block;
    width: $width-left-bar;
    height: $width-left-bar;
    background: url("../../../assets/images/logo.png") no-repeat;
  }

  .manual, .percentage {
    position: relative;
    display: block;
    width: 66px;
    height: 66px;

    &:hover {
      background-color: #2f4358;

      &:after {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 4px;
        background-color: $blue;
      }
    }
  }

  .manual {
    background: url("../../../assets/images/manual.png") center no-repeat;
  }

  .percentage {
    background: url("../../../assets/images/percentage.png") center no-repeat;
  }
}
